{% extends 'base_blog.html' %}
{% load static %}
{% load blog_tags %}


{% block content %}
<!--start wrapper-->
<section class="wrapper">
  <section class="page_head">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h2>Blog Large Images</h2>
          <nav id="breadcrumbs">
            <ul>
              <li>You are here:</li>
              <li><a href="{% url 'website:index_view' %}">Home</a></li>
              <li><a href="{% url 'blog:blog_view' %}">Blog</a></li>
              <li>Blog Large Images</li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <section class="content blog">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8">
          <div class="blog_large">
            <article class="post">
              <div class="post_date"> <span class="day">{{ post.published_date|date:"d"}}<a href="#" class="month">{{ post.published_date|date:"M" }}</a></span> <span class="icon"><i
                    class="fa fa-file-image-o"></i> </span> </div>
              <div class="post_content medium">
                <figure class="post_img">

                  <!-- Post Image Slider -->
                  <div id="slider" class="swipe">
                    <ul class="swipe-wrap">
                      <li><img src="{{ post.image.url }}" alt="blog post"></li>
                      <li><img src="{% static 'images/blog/img2.jpg' %}" alt="blog post"></li>
                      <li><img src="{% static 'images/blog/img3.jpg' %}" alt="blog post"></li>
                    </ul>
                    <div class="swipe-navi">
                      <div class="swipe-left" onClick="mySwipe.prev()"><i class="fa fa-chevron-left"></i></div>
                      <div class="swipe-right" onClick="mySwipe.next()"><i class="fa fa-chevron-right"></i></div>
                    </div>
                  </div>
                </figure>
                <div class="post_meta">
                  <h2> {{ post.title }} </h2>
                  <div class="metaInfo"> <span>By <a href="#" class="admin">{{ post.author.get_full_name }}</a> </span> <span><a href="#" class="admin">5</a>
                      Comments</span> <span><a href="#" class="admin">{{ post.counted_views }}</a> views</span></div>
                      <div>
                        <span>
                          {% for cat in post.category.all %}
                          <a href="{% url 'blog:blog_category' cat_name=cat.name %}"><em>{{ cat.name }}</em></a>{% if not forloop.last %},{% endif %}
                          {% endfor %}
                       </span><br><br>
                     </div>
                  <p> {{ post.content }} </p>
                </div>
              </div>

              <div class="post_nav mt-4">
                <div class="row">
                  <div class="col-md-6 text-center">
                    {% if previous_post %}
                    <a href="{% url 'blog:blog_single' pid=previous_post.id %}" class="btn btn-warning">
                      <i class="fa fa-arrow-left"></i> Previous Post
                    </a>
                    {% endif %}
                  </div>
                  <div class="col-md-6 text-center">
                    {% if next_post %}
                    <a href="{% url 'blog:blog_single' pid=next_post.id %}" class="btn btn-warning">
                      Next Post <i class="fa fa-arrow-right"></i>
                    </a>
                    {% endif %}
                  </div>
                </div>
              </div>
              
              
              <section id="comments">
                <h6 class="section-title">{{comments|length}} Comments</h6>
                <p>Comments are optional and I am editable! Whoop!</p>
                {% for comment in comments %}
                <ol class="comments-list">
                  <li class="comment">
                    <article> <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=50"
                        alt="Image" class="avatar">
                      <div class="comment-meta">
                        <h5 class="author">{{comment.name}}, {{comment.created_date|date:"M. d, Y"}} <a href="#" class="comment-reply-link">Reply</a>
                        </h5>
                      </div>
                      <!-- end .comment-meta -->
                      <div class="comment-body">
                        <p> {{comment.comment}} </p>
                      </div>
                      <!-- end .comment-body -->
                    </article> 
                    <!-- end .children -->
                  </li> 
                  {% empty %}
                  <p>There is no comment to show!</p>
                </ol>
                {% endfor %}
              </section>

              <section id="respond">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blogleft contact">
                    <form method="post" action="{% url 'blog:blog_single' pid=post.id %}" >
                      {% csrf_token %}
                      <h3 class="contactTitle">Leave a Comment</h3>
                      <p>Please share your thoughts with us!</p>
                      <div class="row">
                        <input type="hidden" name="post" value="{{post.id}}">

                        {% if request.user.is_authenticated %}
                        <input type="hidden"  name="name" value="{{ request.user.username }}">
                        <input type="hidden"  name="email" value="{{ request.user.email }}">

                        {% else %}
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group form-row">
                          <input type="text" class="normal" id="name" placeholder="Name" name="name">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group form-row">
                          <input type="email" class="normal" id="email" placeholder="Email Address" name="email">
                        </div>
                      </div>

                        {% endif %}
                      <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group form-row">
                          <textarea name="comment" placeholder="Comments" rows="4" class="normal"></textarea>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                          <input type="submit" id="submit" name="send" value="COMMENT" class="button">
                        </div>
                      </div>
                    </form>
                  </div>
              </section>
              
            </article>
          </div>
        </div>

        <!--Sidebar Widget-->
        <aside class="col-sm-4 col-md-4 col-lg-4 sidebar">
          <div class="sidebar_widget">
        <!--Sidebar Widget-->
        {% include 'blog/blog-search.html' %}

        {% postcategories %}

        {% latest_posts %}
          </div>
        </aside>
      </div>
      <!--/.row-->
    </div>
    <!--/.container-->

  </section>
</section>
<!--end wrapper-->

{% endblock %}