{% extends 'base_blog.html' %}
{% load static %}
{% load blog_tags %}


{% block content %}
<!--start wrapper-->
<section class="wrapper">
  <section class="page_head">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h2>Blog Large Images</h2>
          <nav id="breadcrumbs">
            <ul>
              <li>You are here:</li>
              <li><a href="{% url 'website:index_view' %}">Home</a></li>
              <li><a href="{% url 'blog:blog_view' %}">Blog</a></li>
              <li>Blog Large Images</li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <section class="content blog">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8">
          <div class="blog_large">
            <article class="post">
              <div class="post_date"> <span class="day">{{ post.published_date|date:"d"}}<a href="#" class="month">{{ post.published_date|date:"M" }}</a></span> <span class="icon"><i
                    class="fa fa-file-image-o"></i> </span> </div>
              <div class="post_content medium">
                <figure class="post_img">

                  <!-- Post Image Slider -->
                  <div id="slider" class="swipe">
                    <ul class="swipe-wrap">
                      <li><img src="images/blog/img1.jpg" alt="blog post"></li>
                      <li><img src="images/blog/img2.jpg" alt="blog post"></li>
                      <li><img src="images/blog/img3.jpg" alt="blog post"></li>
                    </ul>
                    <div class="swipe-navi">
                      <div class="swipe-left" onClick="mySwipe.prev()"><i class="fa fa-chevron-left"></i></div>
                      <div class="swipe-right" onClick="mySwipe.next()"><i class="fa fa-chevron-right"></i></div>
                    </div>
                  </div>
                </figure>
                <div class="post_meta">
                  <h2> {{ post.title }} </h2>
                  <div class="metaInfo"> <span>By <a href="#" class="admin">{{ post.author.get_full_name }}</a> </span> <span><a href="#" class="admin">5</a>
                      Comments</span> <span><a href="#" class="admin">{{ post.counted_views }}</a> views</span></div>
                      <div>
                        <span>
                          {% for cat in post.category.all %}
                          <a href=""><em>{{ cat.name }}</em></a>{% if not forloop.last %},{% endif %}
                          {% endfor %}
                       </span><br><br>
                     </div>
                  <p> {{ post.content }} </p>
                </div>
              </div>
              <section id="comments">
                <h6 class="section-title">3 Comments</h6>
                <p>Comments are optional and I am editable! Whoop!</p>
                <ol class="comments-list">
                  <li class="comment">
                    <article> <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=50"
                        alt="Image" class="avatar">
                      <div class="comment-meta">
                        <h5 class="author">Admin, January 06, 2011 . <a href="#" class="comment-reply-link">Reply</a>
                        </h5>
                      </div>
                      <!-- end .comment-meta -->

                      <div class="comment-body">
                        <p>Morbi velit eros, sagittis in facilisis non, rhoncus et erat. Nam posuere tristique sem, eu
                          ultricies tortor imperdiet vitae. Curabitur lacinia neque non metus.</p>
                      </div>
                      <!-- end .comment-body -->

                    </article>
                    <ul class="children">
                      <li class="comment">
                        <article> <img
                            src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=50"
                            alt="Image" class="avatar">
                          <div class="comment-meta">
                            <h5 class="author">Admin, January 06, 2011 . <a href="#"
                                class="comment-reply-link">Reply</a></h5>
                          </div>
                          <!-- end .comment-meta -->

                          <div class="comment-body">
                            <p>Morbi velit eros, sagittis in facilisis non, rhoncus et erat. Nam posuere tristique sem,
                              eu ultricies tortor imperdiet vitae. Curabitur lacinia neque non metus.</p>
                          </div>
                          <!-- end .comment-body -->

                        </article>
                      </li>
                    </ul>
                    <!-- end .children -->

                  </li>
                  <li class="comment">
                    <article> <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=50"
                        alt="Image" class="avatar">
                      <div class="comment-meta">
                        <h5 class="author">Admin, January 06, 2011 . <a href="#" class="comment-reply-link">Reply</a>
                        </h5>
                      </div>
                      <!-- end .comment-meta -->

                      <div class="comment-body">
                        <p>Morbi velit eros, sagittis in facilisis non, rhoncus et erat. Nam posuere tristique sem, eu
                          ultricies tortor imperdiet vitae. Curabitur lacinia neque non metus.</p>
                      </div>
                      <!-- end .comment-body -->

                    </article>
                  </li>
                </ol>
              </section>
              <section id="respond">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blogleft contact">
                    <form method="post" action="#" name="cform" id="cform">
                      <h3 class="contactTitle">Leave a Comment</h3>
                      <p>Curabitur tincidunt est sit amet nibh imperdiet dapibus. Praesent tristique diam eros,</p>
                      <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group form-row">
                          <input type="text" class="normal" id="name" placeholder="Name" name="name">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group form-row">
                          <input type="email" class="normal" id="email" placeholder="Email Address" name="email">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group form-row">
                          <textarea name="comments" placeholder="Comments" rows="4" class="normal"></textarea>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                          <input type="submit" id="submit" name="send" value="COMMENT" class="button">
                        </div>
                      </div>
                    </form>
                  </div>
              </section>
            </article>
          </div>
        </div>

        <!--Sidebar Widget-->
        {% include 'blog/blog-sidebar.html' %}
      </div>
      <!--/.row-->
    </div>
    <!--/.container-->

  </section>
</section>
<!--end wrapper-->

{% endblock %}