{% load blog_tags %}
{% load static %}

<aside class="col-sm-4 col-md-4 col-lg-4 sidebar">
          <div class="sidebar_widget">
            <div class="sw_search">
              <div class="sw_title">
                <h4>Search</h4>
              </div>
              <div class="site-search-area">
                <form method="get" id="site-searchform" action="#">
                  <div>
                    <input class="input-text" name="s" id="s" placeholder="Type Keywords.." type="text" />
                    <input id="searchsubmit" value="Search" type="submit" />
                  </div>
                </form>
              </div>
              <!-- end site search -->
            </div>
            <div class="sw_categories">
              <div class="sw_title">
                <h4>Categories</h4>
              </div>
              <ul class="arrows_list">
                {% for name, count in categories.items %}
                  <li><a href="#">{{ name }} - {{count}} </a></li>
                {% endfor %}
              </ul>
            </div>
            <div class="sw_archives">
              <div class="sw_title">
                <h4>Recent Posts</h4>
              </div>

       
              {% for post in posts %}
              <ul class="archives_list">
                <li>
                  <a href="{% url 'blog:blog_single' pid=post.id %}">
                    {{ post.content|truncatechars:20 }}
                  </a>
                </li>
              </ul>
              {% endfor %}

            </div>
           
          </div>
        </aside>